*{
  margin: 0;
  padding: 0;
}

/* reset style link */
a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: "Raleway", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.roboto-slab-800 {
  font-family: "Roboto Slab", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
  font-size: 16px !important;
}

